.page-wrapper{
    background-image: linear-gradient(to right top,#016EFF,black);
    height: 100vh;
    width: 100vw;
    overflow:hidden;
    .screen-wrapper{
        .first-screen{
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 1;
            transition: 1s;
        }
        .second-screen{
            position: absolute;
            top: 100px;
            right: 100px;
            transition: 1s;
        }
    }
    .screen-wrapper:hover{
        .first-screen{
            top:10px;
            transition: 1s;
        }
        .second-screen{
            
            transition: 1s;
        }
    }
}